<%- include('../partials/header'); %>
<h1>Welcome <%= user.name %></h1>
<form action="/trainers/teams/new" method="POST">
  <label for="team-name">
    Team name: 
  </label>
  <input type="text" required name="name" id="team-name">
  <button>Create team</button>
</form>
<% if (teams.length > 0) {%>
  <h2>Here's your team:</h2>
  <% teams.forEach(function(team, idx) { %>
    <h4>
      <%= team.name %>
    </h4>
    <ul class="timeline">
      <% team.pokemon.forEach(function(pokemon){ %> 
      <li class="timeline-yellow">
        <a href="/pokemon/show/<%= pokemon._id %>">
          <img src="<%= pokemon.sprite %>" />
        </a>
        <div>
          <% const name = pokemon.name %>
          <% const capName = name.charAt(0).toUpperCase() + name.slice(1) %>
          <%= capName %>
        </div>
        <form action="/trainers/teams/remove/<%= team._id %>/<%= idx %>" method="POST">
          <button type="submit" class="btn btn-danger">
            Remove
        </form>
      </li>
      <% }) %> 
    </ul>
    <a class="button-link" href="/pokemon/add/<%= team._id %>">ADD</a>
  <% }) %>
<% } %>
<%- include('../partials/footer'); %>
